@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  position: relative;
  top: 20px;
  height: 6%;
  width: 100%;
}

nav i {
  font-size: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
}

nav h2 {
  font-size: 30px;
  position: absolute;
  left: 50px;
  top: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  text-decoration: none;
  list-style: none;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  position: relative;
  top: 10px;
  left: 200px;
  color: black;
}

nav button {
  position: relative;
  top: 13px;
  left: 300px;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  width: 50%;
}

.left h1 {
  position: relative;
  top: 20%;
  left: 10%;
  font-size: 50px;
}

.left p {
  position: relative;
  top: 210px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

.left button {
  position: relative;
  top: 25%;
  margin-left: 100px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  margin-top: 20px;
}

.right {
  height: 100%;
  width: 50%;
  
}

.right img {
  margin-top: 150px;
  height: 60%;
  width: 90%;
}

.logos{
  display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.logos img{
 /* display: flex;
 align-items: center;
 justify-content: space-evenly; */
 height: 130px;
 padding: 10px;
 
 }

 .services{
  /* position: absolute;
  margin: 100px; */
  
 }

 .services-left h1{

  background-color: greenyellow;
  width: 10%;
  margin: 20px;

 }

 .services-right p{
  position: absolute;
  left: 300px;
  top: 125%;
  
 }

 .section-box{
  height: 100%;
  width: 100%;
 }

 .container{
  height: 80%;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

 }
 .elem{
  flex-shrink: 0;
  height: 300px;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px;
 }
 .elem1{
  flex-shrink: 0;
  height: 300px;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px;
 }

 .elem1 h4{
 margin-left: 100px;
 margin-top: 50px;
 }
 .elem1 a{
  color: black;
  text-decoration: none;
  position: relative;
  top: 100px;
  left: 300px;
  }

 
 .elem1 p{
  margin-left: 50px;
  margin-top: 20px;
  }

 .elem2{
  flex-shrink: 0;
  height: 300px;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px;
 }

 .elem2 h4{
  margin-left: 100px;
  margin-top: 50px;
  }
  .elem2 a{
   color: black;
   text-decoration: none;
   position: relative;
   top: 100px;
   left: 300px;
   }
 
  
  .elem2 p{
   margin-left: 50px;
   margin-top: 20px;
   }
 

 .elem3{
  flex-shrink: 0;
  height: 300px;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px;
 }

 .elem3 h4{
  margin-left: 100px;
  margin-top: 50px;
  }
  .elem3 a{
   color: black;
   text-decoration: none;
   position: relative;
   top: 100px;
   left: 300px;
   }
 
  
  .elem3 p{
   margin-left: 50px;
   margin-top: 20px;
   }
 
 .elem4{
  flex-shrink: 0;
  height: 300px;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px;
 }

 .elem4 h4{
  margin-left: 100px;
  margin-top: 50px;
  }
  .elem4 a{
   color: black;
   text-decoration: none;
   position: relative;
   top: 100px;
   left: 300px;
   }
 
  
  .elem4 p{
   margin-left: 50px;
   margin-top: 20px;
   }
 